/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.7.3
 * @description Fluent theme for Discord (🔄 Auto-updating)
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css); /**
 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://api.itzpeto.com/discord/);
  --fluent-acrylic-background-blur: 0px;
  --fluent-acrylic-background-dimness: 50%;
  --fluent-acrylic-background-saturate: 100%;
  --fluent-guilds-icon-size: 24px;
}

.theme-dark .contentWrapper-3vHNP2 .categoryItemDefaultCategory-3haEDq.categoryItem-1sHzUv[aria-label=flags]::before {
  content: "\e7c1";
}

#app-mount .childWrapper-1j_1ub {
	background: transparent;
	font-weight: var(--font-weight-semibold);
  }
  #app-mount .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
	background: transparent;
	color: var(--text-primary);
}
/**
 * End user options
*/
